body {
	background: #222;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: white;
	line-height: 1.5;
}

/* Navigation Bar */
#myNavBar{
	background-color: pink;
	color: #222;
	text-transform: uppercase;
}

.pre-title {
	color: white;
	padding-top: 6rem;
	text-align: center;
	text-transform: uppercase;
}

.pre-title-text{
	font-size: 50px;
	letter-spacing: 15px;
	font-weight: 100;
	display: inline-block;
	vertical-align: middle;
}

.pre-title h1 {
	font-size: 125px;
	font-weight: 100;
}

.pre-title h2 {
	font-size: 35px;
	font-weight: 100;
	color: pink;
}

.pre-title .pre-title-line {
    display: inline-block;
    vertical-align: middle;
    height: 1px;
    width: 200px;
    background: pink;
}


/* About */
.about {
	border-bottom: 3px dashed rgba(255, 228, 225, .5);

}

.featured-text {
    font-family: Georgia, serif;
    font-weight: bold;
    font-style: italic;
    color: pink;
    font-size: 18px;
}

#about-img {
	border-radius: 50%;
	height: 300px;
	width: 300px;
}


/* Services-Packages */

.pricing {

	padding: 50px 0 80px;
	text-align: center;
	border-bottom: 3px dashed rgba(255, 228, 225, .5);

}


.pricing .packages {

	padding: 30px;
	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 5px;
	margin-top: 30px;
	color: #222;
}

.logo {
	height:100px;
	width: 200px;
}

/* Products */

.products {
border-bottom: 3px dashed rgba(255, 228, 225, .5);

}

.products li {
	list-style-type: none;
	opacity: 0.6;
}


/* CONTACT */

.contact {
	padding: 50px 0 80px;
	text-align: center;
	border-bottom: 3px dashed rgba(255, 228, 225, .5);
	color: white;
}

.contact p {
	padding-bottom: 80px;
}

.contact h2 {
	margin: 20px 0 20px;
}

.contact .input-group {
	margin-bottom: 25px;

}

.contact .form-control {
	border-radius: 0 !important;
}

.contact span {
	border-radius: 0 !important;
}

.contact .btn {
	border-radius: 0;
	width: 100%;
	font-size: 15px;
	background-color: #5cb85c;
	color: #fff;
}

.contact .btn:hover {
	background-color: #91cf91!important;
	color: #fff !important;
}


.hours-container {
	background-color: white;
	border-radius: 5px;
	color: gray;
}
