body {
	background: #222;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: white;
	line-height: 1.5;
}

/* Navigation Bar */
#myNavBar{
	background-color: pink;
	color: #222;
	text-transform: uppercase;
}


/* Header */

.header {
	text-transform: uppercase;	
	margin: 0px auto;
	width: 100%;
	font-weight: 100;
}

.pre-title {
	color: white;
	padding-top: 6rem;
	text-align: center;
	display: block;
}

.pre-title-text{
	font-size: 3.2vw;
	letter-spacing: 15px;
	display: inline-block;
	vertical-align: middle;
}

.header h1 {
  text-align: center;
 /* font-size: 36px;*/ /* Some tweener fallback that doesn't look awful */ 
/*  font-size: 8.7em; */
  color: white;
  font-family: 'Raleway', sans-serif;
  padding: 40px;
  font-weight: 200;
}


@media screen and (min-width: 600px){
  .header h1 {
    font-size: 43px;
    padding: 20px;
  }
}

@media screen and (min-width: 724px){
  .header h1 {
    font-size: 60px;
  }
}

@media screen and (min-width: 980px){
  .header h1 {
    font-size: 100px;
  }
}

@media screen and (min-width: 1240px){
  .header h1 {
    font-size: 135px;
  }
}



.header h2 {
	font-size: 2.4vw;
	color: pink;
	font-weight: 100;
}

.pre-title .pre-title-line {
    display: inline-block;
    vertical-align: middle;
    height: 1px;
    width: 10vw;
    background: pink;
}


/* About */
.about {
	border-bottom: 3px dashed rgba(255, 228, 225, .15);

}

.featured-text {
    font-family: Georgia, serif;
    font-weight: bold;
    font-style: italic;
    color: pink;
    font-size: 18px;
}

#about-img {
	border-radius: 50%;
	height: 400px;
	width: 400px;
	margin-bottom: 75px;
}


/* Services-Packages */

.pricing {

	padding: 50px 0 80px;
	text-align: center;
	border-bottom: 3px dashed rgba(255, 228, 225, .15);

}


.pricing .packages {

	padding: 30px;
	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 5px;
	margin-top: 30px;
	color: #222;
}

.logo {
	height:100px;
	width: 200px;
}

/* Products */

.products {
	border-bottom: 3px dashed rgba(255, 228, 225, .15);

}

.products li {
	list-style-type: none;
	opacity: 0.6;
}


/* CONTACT */

.contact {
	padding: 50px 0 80px;
	text-align: center;
	border-bottom: 3px dashed rgba(255, 228, 225, .15);
	color: white;
}

.contact p {
	padding-bottom: 80px;
}

.contact h2 {
	margin: 20px 0 20px;
}

.contact .input-group {
	margin-bottom: 25px;

}

.contact .form-control {
	border-radius: 0 !important;
}

.contact span {
	border-radius: 0 !important;
}

.contact .btn {
	border-radius: 0;
	width: 100%;
	font-size: 15px;
	background-color: #5cb85c;
	color: #fff;
}

.contact .btn:hover {
	background-color: #91cf91!important;
	color: #fff !important;
}


.store-hours-container {
	margin-top: 25px;
	padding-top:20px;
	background-color: white;
	border-radius: 5px;
	color: gray;
}

#form-submit {
	color:pink;
	width: 100%;
	cursor: pointer;
	background: none;
	padding: 16px;
	font-size: 21px;
	margin-bottom: 20px;
	border: 1.5px solid pink;
}

#form-submit:hover {
	opacity: 0.5;
}


/* FOOTER */

.footer {
	background-color: pink;
}
